.headline {
  margin-left: auto;
  margin-right: auto;
}

.sub {
  margin-left: auto;
  margin-right: auto;
}

#evidence {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
}
